__pycache__/
**/__pycache__/
*.py[cod]
/.env
/.venv
/Table_Tools/__pycache__/
**/pyvenv.cfg

# ...existing code...
*.egg-info/
dist/
build/

# Claude related files and folders
claude/
.claude/
**/claude/
**/.claude/
*.claude
claude.json
.claude.json
